.lecture,
.lecture_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lecture_header {
  width: 100%;
}
.lecture_header img {
  width: 100%;
  object-fit: cover;
  background-size: cover;
}
.lecture_content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lecture_content > h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem 0;
}
.videoPlay {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lecture_content .videoPlay video {
  width: 100%;
  padding: 1rem;
  pointer-events: none;
}
.lecture_content .videoPlay svg {
  color: #fff;
  position: absolute;
  background-color: rgb(225, 63, 63);
  padding: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.pdf_viewer {
  width: 100%;
}
.pdf_viewer #pdf {
  width: 100%;
}
.model_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  margin: 20px auto;
}
.model_container .media {
  height: 200px;
  width: 100%;
  border: 5px solid #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  cursor: pointer;
}
.model {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.4s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 9999999;
}
.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.model video {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  line-height: 0;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}
.model svg {
  color: #fff;
  position: absolute;
  top: 30px;
  right: 30px;
}
.model button {
  padding: 5px 20px;
  width: 120px;
  border: 2px solid #333;
  border-radius: 16px;
  font-weight: bold;
}
.flow_info {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  animation: flowRandomly 10s ease-in-out infinite;
}
.flow_info p {
  color: red;
  font-weight: bold;
}
@keyframes flowRandomly {
  0% {
    top: 50%;
    left: 0;
  }
  10% {
    top: 50%;
    left: -30%;
  }
  30% {
    top: 25%;
    left: -30%;
  }
  50% {
    top: 25%;
    left: 30%;
  }
  70% {
    top: 70%;
    left: 30%;
  }
  90% {
    top: 70%;
    left: -30%;
  }
  100% {
    top: 50%;
    left: 0;
  }
}
